
<h1 class= 'text-center'>TO DO LIST</h1>
<% @todos.each do|todo| %>
<br>
    <div class= 'text-center card card-body bg-light'>
        <%=todo.description%>
        <br>
        <% if todo.completed == true%>
            <p class="card-text"><%= link_to "Mark as NOT Completed", complete_todo_path(todo), method: 'POST', class: "btn btn-danger" %></p>
        <% elsif todo.completed == false%>
            <p class="card-text"><%= link_to "Mark as Completed", complete_todo_path(todo), method: 'POST', class: "btn btn-success" %></p>
        <%end%>
        
        <%= link_to 'Show', todo %>
        <%= link_to 'Edit', edit_todo_path(todo) %>
        <%= link_to "Delete", todo, method: :delete, data: {confirm: 'Are you sure?'} %>
    </div>
<%end%>

<p class='text-center'><%= link_to 'Create new To Do', todos_new_path%></p>